﻿@if (ViewData["Message"] != null)
{
    string msg = (string)ViewData["Message"];
    MessageType type = (MessageType)ViewData["MessageType"];
    <div class="alert @type.GetBootstrapAlertEquivalent() alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @msg
    </div>
}