﻿@model TelephoneAddModelView
@{
    ViewData["Title"] = "Adicionar Telefone";
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_Msg", ViewData)

@Html.DisplayFor(m => m.Telephones, "Telephones")

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(m => m.Cpf)
    @Html.EditorFor(m => m.Telephone)
    <button type="submit" class="btn btn-default ">Adicionar <i class="fa fa-plus"></i></button>
}