﻿@{
    ViewData["Title"] = "Configurações";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm(FormMethod.Get))
{
    @Html.Editor("UF", "UF")

    <button class="btn btn-primary" type="submit">Atualizar <i class="fa fa-check"></i></button>
}