﻿@model Person

@{
    ViewData["Title"] = "Registrar";
}

@section scripts{
    <environment names="Development">
        <script type="text/javascript" src="~/js/register.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/register.min.js" asp-append-version="true"></script>
    </environment>
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_Msg", ViewData)

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Nome")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, "Data de Nascimento")
        <div class="datepicker-container">
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cpf, "CPF")
        <div class="datepicker-container">
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
        </div>
    </div>

    @if (ViewData["UF"] != null && ViewData["UF"].ToString() == "SC")
    {
        <div class="form-group" id="rg">
            @Html.LabelFor(m => m.Rg, "Registro Geral")
            <div class="datepicker-container">
                @Html.TextBoxFor(m => m.Rg, new { @class = "form-control" })
            </div>
        </div>
    }

    @Html.EditorFor(m => m.Uf)

    @Html.EditorFor(m => m.Telephones)
    <button type="submit" class="btn btn-primary">Cadastrar</button>
}
