﻿@model ICollection<Telephone>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>DDD</dt>
            <dd>@item.DDD</dd>
            <dt>Número</dt>
            <dd>@item.Number</dd>
        </dl>
    }
}