﻿@using System.Linq
@model List<Person>

@{
    ViewData["Title"] = "Consultar";
}

@section scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/js/consult.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/consult.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row">
    <h2 class="col-xs-11">@ViewData["Title"]</h2>
    <div class="col-xs-1">
        <button type="button" class="btn h2 btn-default btn-filter" disabled data-toggle="tooltip" data-placement="bottom" title="Filtrar resultados">
            <i class="fa fa-filter fa-lg"></i>
        </button>
    </div>
</div>

<div id="filter-box" style="display:none;">
    @using (Html.BeginForm(FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label for="filterWhere">Selecione o filtro</label>
            <select class="form-control" name="filterBy" id="filterBy">
                <option value="@nameof(Person.Name)">Nome</option>
                <option value="@nameof(Person.Cpf)">CPF</option>
                <option value="@nameof(Person.RegistrationDate)" datetype>Data de cadastro</option>
                <option value="@nameof(Person.DateOfBirth)" datetype>Data de nascimento</option>
            </select>
        </div>
        <div class="form-group">
            <h3>=</h3>
        </div>
        <div class="form-group">
            <label class="sr-only" for="filterWhere">Alo</label>
            <div class="datepicker-container">
                <input type="text" class="form-control" name="filterWith" id="filterWith" required />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    }
</div>

<div>
    @Html.BootstrapTable("consulta", new ColumnDefinition[] {
        new ColumnDefinition(nameof(Person.Name), "Nome"),
        new ColumnDefinition(nameof(Person.Cpf), "CPF"),
        new ColumnDefinition(nameof(Person.RegistrationDate), "Data de Registro", "d"),
        new ColumnDefinition(nameof(Person.DateOfBirth), "Data de Nascimento", "d"),
        new ColumnDefinition(nameof(Person.Telephones), "Telefones", t => ((ICollection<Telephone>)t).Aggregate("", (s,tel) => s + string.Format("{0:(XXX)} {1:XXXXX-XXXX} - ", tel.DDD, tel.Number)).TrimEnd(' ', '-'))
    }, Model)
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#" disabled data-page="anterior"><i class="fa fa-arrow-left"></i> Anterior</a></li>
            <li class="next"><a href="#" disabled data-page="proximo">Próximo <i class="fa fa-arrow-right"></i></a></li>
        </ul>
    </nav>
</div>
