﻿@model Telephone

<div class="form-group">
    <label for="@Html.IdFor(m => m.DDD)">DDD</label>
    <input type="number" class="form-control" id="@Html.IdFor(m => m.DDD)" name="@Html.NameFor(m => m.DDD)" value="@Html.ValueFor(m => m.DDD)" />

    <label for="@Html.IdFor(m => m.Number)">Número</label>
    <input type="tel" class="form-control" id="@Html.IdFor(m => m.Number)" name="@Html.NameFor(m => m.Number)" value="@Html.ValueFor(m => m.Number)" />
</div>
