﻿@model string

<div class="form-group">
    @Html.LabelForModel("UF")
    <select id="@Html.IdForModel()" name="@Html.NameForModel()" class="form-control">
        <option value="SC" selected>Santa Catarina</option>
        <option value="PR">Paraná</option>
    </select>
</div>