body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding: 15px;
}

.btn-filter {
    float: right;
}

input,
select,
textarea {
    max-width: 280px;
}

#filter-box {
    padding-bottom: 15px;
}

.datepicker-container {
    position: relative;
}
